body {
    background-color: #0f2b44;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

/* i felt so smart making this */
.bank-card {
    width: 600px;
    margin: 100px auto;
    padding: 40px;
    border-radius: 8px;
    text-align: center;
}

/* the logo HAS to be on top icl */
.logo {
    width: 400px;
    margin-bottom: -25px;
}

/* Account Name Settings */
.name {
    letter-spacing: 3px;
    margin-bottom: 30px;
    color: #8cc4ff;
}

/* the table isn't broken this time */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    text-align: left; /* it just feels right */
}

th {
    padding-bottom: 10px;
    border-bottom: 1px solid #345d7e;
    color: #8cc4ff;
    font-size: 14px;
}

td {
    padding: 12px 0;
    font-size: 15px;
}

/* how to be broke */
.credit {
    color: #ffffff;
}

.overdrawn {
    color: #ff9f43;
    font-weight: bold;
}
